%h1 Listing components

%table.table
  %thead
    %tr
      %th Name
      %th

  %tbody
    - @components.each do |component|
      %tr
        %td= component.name
        %td
          = link_to edit_component_path(component), class: 'btn btn-xs btn-default btn-rotate', title: 'Settings' do
            %span.glyphicon.glyphicon-cog
          = link_to component, :method => :delete, class: 'btn btn-xs btn-danger', 
            title: 'Delete', data: { confirm: "Are you sure?" } do
            %span.glyphicon.glyphicon-trash

%br

= link_to 'New Component', new_component_path
