%table.table.instances
  %thead
    %tr
      %th.col-md-2 Environment
      %th.col-md-3 Host
      %th.col-md-2 Release
      %th.col-md-2 Ports
      %th.col-md-1 State
      %th.col-md-2
  %tbody
    - @instances.each do |instance|
      %tr
        = render partial: 'instance_row', locals: { instance: instance }
