%h1 Registries

.row
  .col-sm-6
    %table.table
      %thead
        %tr
          %th.col-sm-5 Url
          %th.col-sm-1 Actions
      - @registries.each do |registry|
        %tr
          %td
            %h4= link_to registry.url, registry
          %td
            = link_to edit_registry_path(registry), class: 'btn btn-sm btn-primary' do
              %span.glyphicon.glyphicon-cog
            = link_to registry, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-sm btn-danger' do
              %span.glyphicon.glyphicon-trash
.row
  
  = link_to 'New Registry', new_registry_path
