- content_for :header do
  %h1
    Registry
    %small #{ @registry.url }
    = link_to "#", class: 'btn btn-default btn-back' do
      %span.glyphicon.glyphicon-circle-arrow-left

    = link_to edit_registry_path(@registry), class: 'btn btn-default btn-rotate' do
      %span.glyphicon.glyphicon-cog
  %hr

%span{ 'ng-controller' => 'showRegistryController', 'ng-init' => 'refresh()' }
  .row
    .col-md-12
      %p{ 'ng-repeat' => 'image in images | orderBy:"name"' }
        {{ image.project }}/{{ image.component }}:{{ image.release}}
