/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_self
 */

$screen-md:       950px !default;
$screen-md-min:   $screen-md !default;

@import           "bootstrap-sprockets";
@import           "bootstrap";

body {
  padding-top:    20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom:  20px;
}

.form-group {
  padding-top:    15px;
  padding-bottom: 15px;
}

.form-actions input, .form-actions a {
  margin-left:    15px;
}

.registries td {
  height:         40px;
}

.icon-refresh-animate {
  animation-name:             rotateThis;
  animation-duration:         1s;
  animation-iteration-count:  infinite;
  animation-timing-function:  linear;
}

@keyframes rotateThis {
  from { transform: scale( 1 ) rotate( 0deg );   }
  to   { transform: scale( 1 ) rotate( 360deg ); }
}

.icon-refresh-reverse-animate {
  animation-name:             rotateThisReverse;
  animation-duration:         1s;
  animation-iteration-count:  infinite;
  animation-timing-function:  linear;
}

@keyframes rotateThisReverse {
  from { transform: scale( 1 ) rotate( 360deg );   }
  to   { transform: scale( 1 ) rotate( 0deg ); }
}
