- content_for :header do
  %h1
    Listing releases
    = link_to "#", class: 'btn btn-default btn-back' do
      %span.glyphicon.glyphicon-circle-arrow-left
  %hr


%table.table
  %thead
    %tr
      %th Name
      %th Description

  %tbody
    - @releases.each do |release|
      %tr
        %td= link_to release.name, project_release_path(@project, release)
        %td= release.description

%br

= link_to 'New Release', new_release_path
