- content_for :header do
  %h2 
    Listing instances of #{@environment.name}
    = link_to "#", class: 'btn btn-default btn-back' do
      %span.glyphicon.glyphicon-circle-arrow-left
    = link_to new_environment_instance_path(@environment), class: 'btn btn-default' do
      %span.glyphicon.glyphicon-plus

  %hr

.row
  .col-md-12
    = render partial: 'instances_table'